.common-container 
{
    margin: var(--margin);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.cookie-container
{
    margin: var(--margin);
    text-align: center;
}

.display-container 
{
    margin-top: 15px;
    background-color: var(--background-color-white);
    padding: var(--padding-large);
    border: 2px solid var(--background-color-orange);
    width: auto;
    max-width: 100px;
    min-width: 250px;
}

.display-container,
.text-container,
.counter-container,
.navbar-container 
{
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.text-container 
{
    text-align: center;
    background-color: var(--background-color-orange);
    padding: var(--padding-small);
    width: auto;
}

.counter-container 
{
    text-align: center;
    background-color: var(--background-color-orange);
    padding: var(--padding-small);
    width: auto;
}

.navbar-container 
{
    margin: 20px auto;
    background-color: var(--background-color-white);
    padding: var(--padding-medium);
    width: 90%;
}

.storeButton-container 
{
    margin: 20px auto;
    background-color: var(--background-color-white);
    padding: var(--padding-medium);
    width: 100%;
}

.white-board
{
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
    flex-wrap: wrap;
    display: flex;
    gap: 100px;
    justify-content: center;
}
.store-button-container,
.clicked-store-button-container,
.blank-container
.disabled-store-button-container
{
    margin: 20px auto;
    background-color: var(--background-color-white);
    padding: var(--padding-medium);
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.store-button-container {
    border: 2px solid var(--background-color-orange);
    color: var(--background-color-orange); 
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */

}

.disabled-store-button-container {
    border: 2px solid gray;
    color: gray;
    background-color: darkgray;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

.clicked-store-button-container 
{
    border : 2px solid var(--background-color-orange); 
    background-color: var(--background-color-orange); 
    color: var(--background-color-white); 
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */

}

.store-button-container, .clicked-store-button-container {
    /* A침adir el efecto de tama침o con transform */
    transform: scale(1); /* Estado normal */
}

.clicked-store-button-container {
    transform: scale(1.1); /* Aumentar el tama침o del bot칩n */
}